.newsInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 2%;
  box-sizing: border-box;
}
.inputStyle {
  padding: 1vh 1vw; /* 上下に1%、左右に2%のビューポートの高さと幅に相当するパディング */
  font-size: 1.6vh; /* フォントサイズをビューポートの高さの1.6%に相当するサイズに */
  width: 20vw; /* ビューポートの幅の20%に相当する幅 */
  max-width: 200px; /* サイズが大きくなりすぎないように最大幅を指定 */
}

.buttonStyle {
  padding: 1vh 3vw; /* 上下に1%、左右に3%のビューポートの高さと幅に相当するパディング */
  font-size: 1.6vh; /* フォントサイズをビューポートの高さの1.6%に相当するサイズに */
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh; /* ビューポートの高さの1%に相当する角の丸み */
  transition: background-color 0.2s;
}

.buttonStyle:hover {
  background-color: #c9caaf; /* Darker shade for hover effect */
}

.rightContainer {
  display: flex;
  margin-left: auto;
}
