.newsInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 2%;
  box-sizing: border-box;
}
.inputStyle {
  padding: 1vh 1vw;
  font-size: 1.6vh;
  width: 20vw;
  max-width: 200px;
}

.buttonStyle {
  padding: 1vh 3vw;
  font-size: 1.6vh;
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s;
}

.buttonStyle:hover {
  background-color: #c9caaf;
}

.rightContainer {
  display: flex;
  margin-left: auto;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 0.5vh solid #f3f3f3;
  border-top: 0.5vh solid #555;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  animation: spin 1s linear infinite;
  margin-right: 1vh;
}

@media (max-width: 480px) {
  .inputStyle {
    font-size: 1.2vh;
    width: 45vw;
  }
}
