.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f5ed;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Assuming BasicHeader has a height of 60px. Adjust accordingly. */
}

/* New style for response container */
.responseContainer {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  width: 80%; /* Adjust this to fit your design needs */
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /* Add scroll if content is too long */
  font-size: 14px; /* Adjust font size if needed */
  background-color: #f6f6f6; /* Light grey background for visibility */
}

.newsContainer {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.newsTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.newsSubtitle {
  font-size: 1.5em;
  color: #777;
  margin-bottom: 20px;
}

.newsBody {
  font-size: 1em;
  line-height: 1.6;
}
