.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f5ed;
}


/* New style for response container */
.responseContainer {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  width: 80%; /* Adjust this to fit your design needs */
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /* Add scroll if content is too long */
  font-size: 14px; /* Adjust font size if needed */
  background-color: #f6f6f6; /* Light grey background for visibility */
}
