/* NameListComponent.module.css */
.container {
  padding: 20px;
}

.buttonAndSearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
}

.button {
  padding: 1vh 2vw;
  min-width: 10vw;
  width: auto;
  height: 5vh;
  font-size: 1.6vh;
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s;
  margin-right: 10px;
  white-space: nowrap;
  justify-content: center;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #c9caaf;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 1vh 1vw;
  font-size: 1.4vh;
  border: 1px solid #09090b;
  border-radius: 0.5vh;
  margin-right: 1vw;
}

.searchButton {
  padding: 1vh 2vw;
  font-size: 1.6vh;
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s;
}

.nameItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.nameItem:hover {
  background-color: #f5f5f5;
}

.nameItem.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.nameList {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  align-items: center;
}

.nameList li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  max-width: 100%;
}

.nameList li:last-child {
  border-bottom: none;
}

.nameList li:hover {
  background-color: #fafafa;
}

.nameList .title,
.nameList .subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  margin: 0 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 0.5vh solid #f3f3f3;
  border-top: 0.5vh solid #555;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  animation: spin 1s linear infinite;
  margin-right: 1vh;
}

.buttonWithSelectedName {
  padding: 1vh 2vw;
  min-width: 10vw;
  width: auto;
  height: 5vh;
  font-size: 1.6vh;
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s;
  margin-right: 10px;
  white-space: nowrap;
  justify-content: center;
}

.buttonWithSelectedName:last-child {
  margin-right: 0;
}

.buttonWithSelectedName:hover {
  background-color: #c9caaf;
}

@media (max-width: 480px) {
  .searchInput {
    padding: 0.8vh 0.8vw;
    font-size: 1.2vh;
    min-width: 10vw;
    width: auto;
    height: 5vh;
  }

  .searchButton {
    padding: 0.8vh 1.6vw;
    font-size: 1.4vh;
    min-width: 10vw;
    width: auto;
    height: 5vh;
  }

  .button .buttonWithSelectedName {
    padding: 0.8vh 1.6vw;
    font-size: 1.4vh;
    margin-right: 8px;
  }
}
