/* NameListComponent.module.css */
.container {
  padding: 20px;
}

.button {
  padding: 1vh 2vw;
  min-width: 10vw;
  width: auto;
  height: 5vh;
  font-size: 1.6vh;
  cursor: pointer;
  background-color: #e3e4d3;
  color: #09090b;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s;
  margin-right: 10px;
  white-space: nowrap;
  justify-content: center;
}

.button:last-child {
  margin-right: 0; /* Ensure the last button doesn't have extra margin */
}

.button:hover {
  background-color: #c9caaf;
}

.nameItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.nameItem:hover {
  background-color: #f5f5f5;
}

.nameItem.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.nameList {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.nameList li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  max-width: 100%;
}

.nameList li:last-child {
  border-bottom: none;
}

.nameList li:hover {
  background-color: #fafafa;
}

.nameList .title,
.nameList .subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1; /* フレキシブルなサイズ調整 */
  margin: 0 5px; /* 両端に少し余白を追加 */
}
